<!DOCTYPE html>
<html>
  <head>
    <title>Storie</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico'  %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
